body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header{
    background-image: url(/assets/images/Header\ Background.png);
    background-size: cover;
    padding: 2vw;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Luckiest Guy';
    src: url('/assets/fonts/LuckiestGuy-Regular.ttf');
}