body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header{
    background-image: url(/assets/images/Header\ Background.png);
    background-size:auto;
    background-position: bottom;
    padding: 2vw;
}

header h1{
    font-family: 'Luckiest Guy';
    padding: 10px;
    color: white;
    font-size: 4vh;
    width: 80%;
}

header p{
    color: white;
    padding: 10px;
}

#button-section{
    display: flex;
    flex-direction: column;
}

header button{
    padding: 15px;
    border-radius: 20px;
    margin: 1vh 0.5vh;
    border: 0;
    font-family: 'Open Sans';
    font-size: 1rem;
}

#download{
    background-color: white;
    color: black;
}

#navigator{
    background-color: black;
    color: white;
}

.content-white{
    background-color: white;
}

.content-grey{
    background-color: rgb(238, 236, 236);
}

main{
    font-family: 'Open Sans';
    text-align: center;
}

.section-content img,.section-content img {
    max-width: 100%;
    margin: 2vw;
}

.section-content .text-section h2, .section-content .text-section h2{
    font-weight: 800;
    font-size: 3vh;
    margin: 3vw;
    text-align: left;
}
.font h2{
    font-family: 'Luckiest Guy';
    font-weight: normal;
    font-size: 4vh;
    letter-spacing: 1px;
}

.section-content .text-section p, .section-content .text-section p{
    font-size: 1rem;
    padding: 0 3vw 2vh;
    margin: 0;
    text-align: left;
}

footer{
    background-color: black;
    text-align: center;
    height: fit-content;
}

footer img{
    margin: 4vh auto;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Luckiest Guy';
    src: url('/assets/fonts/LuckiestGuy-Regular.ttf');
}

@media (min-width: 768px){
    header{
        text-align: center;
    }

    header h1{
        width: 100%;
    }

    #button-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5vh;
    }

    #button-section button {
        border-radius: 40px;
    }
}

@media (min-width: 768px){
    .section-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reverse{
        flex-direction: row-reverse;
    }

    section{
        padding: 1vh;
    }

    .content-grey .section-content img, .content-white .section-content img {
        max-width:70%;
        height: 30%;
    }

    .section-content .text-section{
        display: block;
        width: fit-content;
    }

    .section-content .text-section h2{
        font-weight: 800;
        font-size: 2rem;
        margin: 3vw;
        text-align: left;
    }
    .font{
        display: block;
    }

    .font .text-section h2, .font .text-section p{
        text-align: center;
    }

    .font .text-section h2{
        font-family: 'Luckiest Guy';
        font-weight: normal;
        font-size: 2rem;
        margin: 3vw;
        text-transform: uppercase;
    }
}